/* Logo di Header */
header .logo {
    width: 160px;
    margin: 0 auto 20px;
}

header .logo img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out,
                filter 0.3s ease-in-out;
    filter: drop-shadow(0 0 10px rgba(3, 218, 198, 0.5));
}

header .logo img:hover {
    transform: scale(1.07);
    filter: drop-shadow(0 0 14px rgba(3, 218, 198, 0.7));
}
